@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.red {
  color: rgba(170, 25, 25, 1);
}

p {
  font-size: 12px;
  font-weight: 100;
}

body {
  background-color: white;
}

#logo {
  height: 50px;
  width: 50px;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
  height: 90px;
}

.navbar-brand {
  color: #000;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.navbar-nav .nav-item {
  list-style: none;
  padding: 0 40px;
  position: relative;
}

.navbar-nav .nav-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.3s ease;
}

.navbar-nav li:last-child button {
  height: 35px;
  width: 100px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}

.navbar-nav li:last-child button:hover {
  color: black;
  border-color: rgba(170, 25, 25, 1); /* Set border color to red on hover */
}

.navbar-nav .nav-link.active {
  color: black;
}

.navbar-nav .nav-link.active button {
  color: black;
  border-color: rgba(170, 25, 25, 1);
  color: rgba(170, 25, 25, 1); /* Set border color to red when active */
}

/* Responsive styles */
@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav .nav-item {
    padding: 10px;
  }

  .navbar-nav .nav-link {
    text-align: center;
  }
  .navbar-collapse {
    display: none;
    text-align: center;
    background-color: #f8f9fa; /* Add background color here */
  }

  .navbar-collapse.show {
    display: block;
  }
}

#loginbody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loginbody h5 {
  margin-top: 0;
}

#loginbody button {
  background-color: rgba(170, 25, 25, 1);
  color: #fff;
  border: 0px;
  width: 150px;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

#loginbody button:hover {
  background-color: rgb(217, 108, 108);
}

#loginbody label {
  color: rgb(87, 87, 87);
}

#loginbody input[type="email"],
#loginbody input[type="password"],
#loginbody input[type="submit"] {
  margin-bottom: 10px;
}

#loginbody input[type="submit"] {
  background-color: rgba(170, 25, 25, 1);
  color: #fff;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
}

#loginbody input[type="submit"]:hover {
  background-color: rgb(217, 108, 108);
}

#loginbody p a {
  color: rgb(87, 87, 87);
  text-decoration: none;
}

#loginbody p a:hover {
  color: black;
}
.card {
  height: 400px;
  width: 500px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
}

.card-body {
  padding: 1.25rem;
}
