@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.red {
  color: rgba(170, 25, 25, 1);
}

p {
  font-size: 12px;
  font-weight: 100;
}

body {
  background-color: white;
}

#logo {
  height: 50px;
  width: 50px;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
  height: 90px;
}

.navbar-brand {
  color: #000;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.navbar-nav .nav-item {
  list-style: none;
  padding: 0 40px;
  position: relative;
}

.navbar-nav .nav-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.3s ease;
}

.navbar-nav li:last-child button {
  height: 35px;
  width: 100px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}

.navbar-nav li:last-child button:hover {
  color: black;
  border-color: rgba(170, 25, 25, 1); /* Set border color to red on hover */
}

.navbar-nav .nav-link.active {
  color: black;
}

.navbar-nav .nav-link.active button {
  color: black;
  border-color: rgba(170, 25, 25, 1);
  color: rgba(170, 25, 25, 1); /* Set border color to red when active */
}
/* Responsive styles */
@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav .nav-item {
    padding: 10px;
  }

  .navbar-nav .nav-link {
    text-align: center;
  }
  .navbar-collapse {
    display: none;
    text-align: center;
    background-color: #f8f9fa; /* Add background color here */
  }

  .navbar-collapse.show {
    display: block;
  }
}
section#signupbody {
  width: 400px;
  padding: 20px;
  border: 0px solid #ccc;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
}

section#signupbody h5 {
  margin-top: 0;
  color: #333;
}

section#signupbody label {
  color: grey;
}

section#signupbody form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

section#signupbody input[type="text"],
section#signupbody input[type="email"],
section#signupbody input[type="tel"],
section#signupbody input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

section#signupbody input[type="submit"] {
  background-color: rgba(170, 25, 25, 1);
  color: #fff;
  border: 0px;
  width: 150px;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

section#signupbody input[type="submit"]:hover {
  background-color: rgb(217, 108, 108);
}

section#signupbody p a {
  color: grey;
  text-decoration: none;
}

section#signupbody p a:hover {
  color: black;
}
